@import "tailwindcss";
body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 254 248 241;
    --foreground: 30 41 59;
    --card: 255 255 255;
    --card-foreground: 30 41 59;
    --muted: 241 245 249;
    --muted-foreground: 100 116 139;
    --border: 226 232 240;
  }
}

@layer components {
  .btn-primary {
    @apply w-full bg-[#d64d04] text-white py-3 px-4 rounded-md
           transition-all duration-300
           hover:bg-[#ff7c30] hover:shadow-lg
           disabled:opacity-50 disabled:cursor-not-allowed
           flex items-center justify-center gap-2
           font-medium text-sm cursor-pointer
          
  }

  .card {
    @apply bg-white rounded-lg shadow-sm
           border border-gray-200
           text-gray-900
  }

  .bg-primary {
    @apply bg-[#FEF8F1]
  }
}
